<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Warrier Cards Online Store - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <div class="content-wrapper">
            <div class="header-left">
                <a href="~/">
                    <img src="@Url.Content("~/images/Warrier-Cards-Logo.png")" alt="" />
                </a>
                @*<p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
            </div>
            <div class="header-right">
                <table id="header-nav">
                    <tr>
                        <td colspan="2">
                            Call us at: +91-9744-023-389
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="@Url.Action("", "catalogue")" method="post">
                                <input id="txtKeywords" type="text" class="search-textbox" />
                                <input type="submit" value="" class="search-button" onclick="OnKeywordSearch(this.form);" />
                            </form>
                        </td>
                        <td>
                            <a href="~/my/view-shortlist" class="nav-shortlist">Shortlist <sup class="sup"></sup></a>
                            <a href="~/my/view-cart" class="nav-cart">Cart <sup class="sup"></sup></a>
                            <a href="~/my/view-cart" class="nav-user">Login</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div id="menu-bar" style="float:none;clear:both;background: #359ac7;margin:0 auto;text-align: center;padding:8px 0;">
            <a href="~/catalogue/Hindu-wedding-cards">Hindu Wedding Cards </a> |
            <a href="~/catalogue/Muslim-wedding-cards">Muslim Wedding Cards </a> |           
            <a href="~/catalogue/Christian-wedding-cards">Christian Wedding Cards </a> |
            <a href="~/catalogue/Christian-wedding-cards">Invitation Cards </a> |
            <a href="~/">Design your Card </a> |
            <a href="~/">Sell With Us </a>
        </div>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Warrier Cards</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <div id="myModal" class="modal"></div>
    <div id="divQuickMessage" class="tooltip"></div>
</body>
</html>
