@model List<WarrierCards.Website.CatalogueService.CardBasicInfo>

<section class="catalogue">

    @foreach (var card in Model)
    {
        var cardOrientationStyle = card.IsPortrait ? "portrait" : "landscape";
        
            <article data-id="@card.CardId">
                <div class="card-image">
                    <img src="@card.CardMainImagePath" class="@cardOrientationStyle" />
                </div>

                <div class="card-name" style="display:table-row;">
                    @card.CardName
                </div>
                <div class="card-basics">
                    <span class="smallItalic">Code: @card.CardModelNumber</span> |
                    @if (@card.CardOrginalPrice != card.CardSellingPrice)
                    {
                        <span class="strikedRed">&#8377;@card.CardOrginalPrice</span>
                    }
                    <span class="bold">&#8377;@card.CardSellingPrice</span>
                </div>
                <div class="card-actions">
                    <a href="javascript:void(0)" onclick="OnShortlist(this);" class="shortlist">Shortlist</a>
                    <a href="javascript:void(0)" onclick="QuickView(@card.CardId)" class="quick-view">Quick view</a>
                    <a href="~/card-details/@card.CardId" class="view-details">View Details</a>
                </div>
            </article>
    }
</section>
