@model WarrierCards.Website.Models.UserInfoModel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/css")

@using (Html.BeginForm())
{
    Html.EnableClientValidation(true);
    
    <div class="warrier-user">
        @Html.Hidden("CardId", (string)ViewBag.CardId.ToString())
        @if (Model.UserId == 0) {
        <div class="editor-field">
            Firstname:
            @Html.TextBoxFor(m => m.FirstName)
        </div>

        <div class="editor-field">
            Lastname:
            @Html.TextBoxFor(m => m.LastName)
        </div>


        <div class="editor-field">
            Email:
            @Html.TextBoxFor(m => m.Email)
        </div>

        <div class="editor-field">
            <div>Phone:</div>
            @Html.TextBoxFor(m => m.CountryCode, new { maxlength = "3", @style = "width:50px;" })
            @Html.TextBoxFor(m => m.Phone, new { maxlength = "10", @style = "width: calc(100% - 80px);" })
        </div>
        }

        <div class="editor-field">
            Enquiry:
            <textarea name="Enquiry" style="vertical-align: top; width: 100%; min-height: 80px;"></textarea>
        </div>

        <div class="editor-field warrier-buttons">
            <input type="submit" value="Send" class="send" style="width:180px;float:right;margin-right:0;">
        </div>
        <br class="clear" />
    </div>
}