@{
    @model WarrierCards.Website.SecurityService.UserInfo
    ViewBag.Title = "Login";
}

<h2>&#10093;&#10093; Login</h2>

@Html.ValidationSummary(true)
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <div class="content-wrapper">
        <div class="float-left small-pane boxed">
            <p class="marginTop highlight">Existing Users - Login Here</p>

            @Html.AntiForgeryToken()
            <div class="editor-field">
                Email:<br />
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="editor-field">
                Password:<br />
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="editor-field">
                <input name="RememberMe" type="checkbox" checked="checked" />
                <span onclick="CheckUncheckByLabel(this)">Remember me</span>
            </div>
            <div class="editor-field">
                <input type="submit" value="Log in" class="warrier-button small" onclick="SetAction(this, '/account/login');" />
                <a href="~/account/reset" class="mainLink float-right">Forgot Password?</a>
            </div>
        </div>

        <div class="float-left small-pane boxed">
            <p class="marginTop highlight">New Users - Register Here</p>
            <div class="editor-field">
                Firstname:<br />
                @Html.TextBoxFor(m => m.FirstName)
            </div>

            <div class="editor-field">
                Lastname:<br />
                @Html.TextBoxFor(m => m.LastName)
            </div>

            <div class="editor-field">
                Password:<br />
                @Html.PasswordFor(m => m.Password)
            </div>

            <div class="editor-field">
                Retype Password:<br />
                @Html.PasswordFor(m => m.Password)
            </div>

            <div class="editor-field">
                Email:<br />
                @Html.TextBoxFor(m => m.Email)
            </div>

            <div class="editor-field">
                Phone:<br />
                @Html.TextBoxFor(m => m.CountryCode, new { maxlength = "3", @Value = "91", @style = "width:50px;" })
                @Html.TextBoxFor(m => m.Phone, new { maxlength = "10", @style = "width: calc(78% - 80px);" })
            </div>

            <div class="editor-field marginTop">
                <input type="submit" value="Register" class="warrier-button small" onclick="SetAction(this, '/account/register');" />
            </div>
        </div>
    </div>
}