<h2>&#10093;&#10093; @ViewBag.Title</h2>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="boxed large-pane">
        @if (ViewBag.IsResetRequest)
        {
            <p class="marginTop">
                Enter the email address associated with your 'Warrier Cards' account.
                An email will be sent you with the instructions to reset your account.
            </p>
            <div class="editor-field align">
                Email:<br />
                <input type="text" name="Email" maxlength="200" />
                <div class="editor-field">
                    <input name="btnAction" type="submit" value="Reset" class="warrier-button small" />
                </div>
            </div>
            
            <div>
                <br />
                <br />
                <br />
                <p class="bold">Forgot E-mail or having no access to email?</p>
                If you no longer use the e-mail address associated with your 'Warrier Cards' account, 
                you may contact our Customer support for retrieving your account.
            </div>
        }
        else
        {
            @Html.Hidden("Token", Request["Id"])
            <p> You have successfully been identified. You may set your password now.</p>
            <p class="smallItalic">Note: Password must contain 5 characters.</p>
            <div class="editor-field">
                Password:<br />
                @Html.Password("Password")
            </div>

            <div class="editor-field">
                Retype Password:<br />
                @Html.Password("RePassword")
            </div>
            <div class="editor-field">
                <input name="btnAction" type="submit" value="Change" class="warrier-button small" />
            </div>
        }
    </div>
}

@section scripts {
    <script>

    </script>
    }
@*// TODO: PRINCE - custom client side validation is required, server side validation will happen in WCF*@